<!DOCTYPE html>
<html>

<head>
    <title>Трекинг голоса</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/pages/tracking.css">
</head>

<body>

    <div class="header">
        <div class="brand">Система EV</div>
        <div class="nav">
            <a href="/user/profile" class="nav-link">Профиль</a>
            <form action="/user/logout" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <h2>Зашифрованный голос</h2>
            <div class="merkle-root">
                <div class="label">Значение зашифрованного голоса с сервера:</div>
                <div class="value">{{.tracking_value}}</div>
            </div>
            <div class="merkle-root from-user">
                <div class="label">Значение зашифрованного голоса с устройства пользователя:</div>
                <div class="value"></div>
            </div>
            <div class="merkle-root hashed">
                <div class="label">Преобразованный зашифрованный голос:</div>
                <div class="value"></div>
            </div>

        </div>




        <div class="section">
            <h2>Объяснение</h2>
            <div class="merkle-root">
                <div class="label">Предоставлено доказательство включения зашифрованного голоса в реестр активных
                    бюллетеней</div>
                <div class="value">Счетчик предоставляет набор Хешей, система вычисляет итоговое значение корня дерева<!--
                    -->Хешей на основе вашего голоса, предоставляя доказательство включения в реестр.</div>
            </div>
        </div>


        {{if .root_found}}
        <div class="merkle-container" id="merkleContainer">
            <!-- Здесь будет отображаться путь Меркла -->
        </div>

        <div class="section">
            <h2>Корень дерева хешей</h2>
            <div class="merkle-root">
                <div class="label">Значение корня из базы данных сервера:</div>
                <div class="value">{{.found_root_hash}}</div>
                <div class="timestamp">Создан: {{.created_at}}</div>
            </div>
        </div>

        <div class="section">
            <h2>Данные не совпали?</h2>
            <div class="merkle-root">
                <div class="label">Если данные не совпадают, пожалуйста, обратитесь к администратору</div>
                <div class="value">Администратор проверит ваш голос и предоставит доказательство включения в реестр
                </div>
                <form action="/user/contact" method="POST">
                    <button type="submit" class="btn btn-danger">Связаться с администратором</button>
                </form>
            </div>
        </div>
        {{else}}
        <div class="section">
            <h2>Доказательство еще не сформировано</h2>
            <div class="merkle-root">
                <div class="value">Обычно доказательство формируется в течение минуты с подачи голосование
                </div>
            </div>
        </div>
        {{end}}
    </div>

    <script src="/static/js/sha512.min.js"></script>
    <script type="module" src="/static/js/tracking.js"></script>
    <script type="module">
        import { displayMerklePath } from '/static/js/tracking.js';

        const json = JSON.parse("{{.hashes}}");


        const trackingValueHash = "{{.tracking_value_hash}}";


        const encryptedValue = "{{.tracking_value}}";
        console.log(encryptedValue);

        console.log(json);

        const hashedHash = document.querySelector('.hashed .value').textContent = sha512(encryptedValue);

        if (json != null) {
            displayMerklePath(json);
        }
        else {
            document.querySelector('.merkle-container').innerHTML = '<div class="merkle-root"><div class="label">Корень дерева соответствует значению хеша самого зашифрованного бюллетеня</div>/div>';
        }


        const votingId = "{{.voting_id}}";
        const oldEncryptedValue = document.cookie.split('; ').find(row => row.startsWith(`oldEncryptedValue_${votingId}=`))?.split('=')[1];
        document.querySelector('.from-user .value').textContent = oldEncryptedValue;

    </script>
</body>

</html>