<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Система EV</title>
    <script src="https://cdn.jsdelivr.net/npm/paillier-bigint@latest/dist/bundle.iife.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="header">Система EV</div>
    <div class="container">
        <div class="right">
            <div class="voting-form">
                <div class="voting-title">{{.Voting.Name}}</div>
                <div class="voting-question">{{.Voting.Question}}</div>

                <form id="votingForm" action="/voting/subscribe" method="post">
                    <input type="hidden" name="voting_id" value="{%voting_id%}">
                    <input type="hidden" name="encrypted_vote" id="encryptedVote">
                    <input type="hidden" name="proof_e" id="proofE">
                    <input type="hidden" name="proof_z" id="proofZ">
                    <input type="hidden" name="proof_a" id="proofA">
                    {{range .Options}}
                    <div class="option">
                        <input type="radio" id="option{{.ID}}" name="vote" value="{{.ID}}">
                        <label for="option{{.ID}}">{{.Name}}</label>
                    </div>
                    {{end}}

                    <button type="button" class="button sendVoteButton">Отправить голос</button>
                </form>
            </div>
        </div>
    </div>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p>Точно отправить голос?</p>
            <div class="modal-buttons">
                <button class="modal-button confirm">Да</button>
                <button class="modal-button cancel">Нет</button>
            </div>
        </div>
    </div>
    <script type="module" src="/static/js/math.js"></script>
    <script type="module" src="/static/js/rsa.js"></script>
    <script type="module" src="/static/js/zkp.js"></script>


    <script type="module">
        import { initializeVoting } from '/static/js/voting.js';
        import { base64ToBigInt } from '/static/js/math.js';

        // Параметры инициализации
        const EV_PARAMS = {
            voting_id: Number('{{.Voting.ID}}'),
            options_amount: Number('{{len .Voting.Options}}'),
            pailierPublicKey: {
                n: base64ToBigInt('{{.Crypto.PaillierN}}'),
                g: base64ToBigInt('{{.Crypto.PaillierN}}') + 1n
            },
            rsaSignPublicKey: {
                n: base64ToBigInt('{{.Crypto.RsaN}}'),
                e: base64ToBigInt('{{.Crypto.RsaE}}')
            },
            challenge_bits: Number('{{.Crypto.ChallengeBits}}')
        };

        // Инициализация после загрузки DOM
        document.addEventListener('DOMContentLoaded', () => {
            initializeVoting(EV_PARAMS);
        });
    </script>
</body>

</html>